:root {
  --primary-color: #064789;
  --secondary-color: #3e7cb1;
  --accent1-color: #81a4cd;
  --accent2-color: #cbf1f5;

  --heading-font: 'Merriweather', serif;
  --body-font: 'Raleway', sans-serif;
}

/* Box model reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  background-color: #fff;
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  max-width: 80%;
}

.hero article img {
  float: right;
  width: 125px;
  margin: 0 0 10px 10px;
  border-radius: 8px;
}

footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 10px;
}

.socialmedia a {
  text-decoration: none;
  margin: 0 10px;
}